.settings
/AutoTestNg/target
/AutoTestNg/test-output
/AutoTestNg/report/report.html
.classpath
.project
/TestProject/target
/TestProject/test-output
/TestProject/report/report.html
/Mock_Project/.settings
/Mock_Project/target
/Mock_Project/.classpath
/Mock_Project/.project