<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MOCK</title>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
<script type="text/javascript" th:src="@{/layui/uifunc/common.js}"></script>
<script type="text/javascript" th:src="@{/layui/uifunc/cache.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/layui/outside/css/style.css}"
	media="all">
<link rel="stylesheet" th:href="@{/layui/skin/myskin.css}">
</head>

<body>

	<div class="layui-container">
		<div class="layui-row">
			<br>
		</div>
		<div class="layui-row">
			<div class="layui-col-md2">
			<div class="site-demo-button" style="margin-bottom: 0;">
				<button id="addtab" data-anim="layui-anim-scaleSpring" type="button"
					class="layui-btn layui-btn-primary layui-bg-blue layui-anim tabAdd layui-btn-radius"  data-type="tabAdd"><i class="layui-icon">&#xe608;</i></button>
					</div>
					
			</div>
				<div class="layui-row">
			<div class="layui-col-md12">
		         <label class="layui-form-label" style="width:200px" id="curr_id"></label>
			</div>
			</div>
			<div class="layui-row">
			<div class="layui-col-md12">
			   <label class="layui-form-label" style="width:200px" id="curr_param" ></label>
			</div>
       </div>
		</div>

		<div class="layui-row">
			<div class="layui-col-md12">
				<div class="layui-tab" lay-filter="datatab" >
					<ul class="layui-tab-title" id="tabtitle"></ul>
					<div class="layui-tab-content"  id="tabcontent"></div>
				</div>
			</div>
		</div>
	</div>

</body>
<script>

</script>

<script th:inline="javascript">
	layui.use([ 'layer', 'form', 'jquery', 'code', 'layedit', 'element',
			'util', 'carousel' ], function() {
		//<!-- layui初始化-->
		var layer = layui.layer, form = layui.form;
		var element = layui.element;
		var util = layui.util;
		var carousel = layui.carousel;
		//<!-- 获取布局中的form表单-->
		var form = layui.form;
		//<!-- 引入jquery-->
		var $ = layui.$;
		//tab页过滤器名
		var filtername='datatab';
		//url数据
		var urldata=[[${urldata}]];
		var urljson=JSON.parse(urldata);
		//缓存数据
		var cachedata=new CacheData('paramId');
	
	  
	    var active = {
			tabAdd : function(tabdata,requestdata,type) {
				 element.tabAdd(filtername, {
				        title: tabdata.title 
				        ,content: tabdata.content
				        ,id: requestdata.paramId 
				     })
				 cachedata.adddata(requestdata);
				 tabcontentaction(urljson.url,requestdata,type,form,cachedata,element,'datatab');
			},
			tabDelete : function(othis) {

			},
			tabChange : function() {

			}
		};

		/*新增tab页*/
		function addTabAction(){
		$('#addtab').on('click', function() {
			//初始tabobject  
			 var initrequestData={
					   "data":'',
						"is_Forward":'',
						"param":'',
						"paramId":'',
						"isindao":"false"
			 }
			 cachedata.adddata(initrequestData);
			 initrequestData.paramId=new Date().getTime();
			 active.tabAdd(tabcontent(initrequestData,urljson.url),initrequestData,'add');
		   });
		}
		addTabAction();
		
	

		/*初始渲染*/
		function init(){
			var requestdata=urljson.requestData;
			for(var rd of requestdata){
				rd.isindao="true";
			    var tabdata=tabcontent(rd,urljson.url);
			    active.tabAdd(tabdata,rd,'add');
			}
		}
		init();
	
		/*tab页监听*/
		function element_tab(){
			//tab页切换
			element.on('tab(datatab)', function(data) {
			
				var layid=this.getAttribute('lay-id');
				var rd=cachedata.getobj(layid);
				console.log(rd);
				form.val("form"+layid, { 
					  "param": rd.param,
					  "data": rd.data,
					  "is_disable":rd.is_Disable=='true'?true:false
				});
				
				$('#curr_id').text('当前id:  Data'+layid);
				$('#curr_param').text('当前param:  '+rd.param);
			
			});	
		}
		element_tab();
		//动画
		anim();
	});
</script>

</html>