<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>MOCK</title>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/layui/outside/css/style.css}"
	media="all">
</head>
<body>

	<div class="layui-container">

		<div class="layui-row">
			<div class="layui-col-md14">
			<!--  -->
				<div class="sky" style="height: 250px">
					<div class="clouds_one"></div>
					<div class="clouds_two"></div>
					<div class="clouds_three"></div>
				</div>
			</div>
		</div>
		<br> <br>
		<br>

		<div class="layui-row">
			<div class="layui-col-md6">
				<h2>MOCK_PROJECT</h2>
			</div>
		</div>
		<br> <br>
		<br>

		<div class="layui-row">
			<div class="layui-col-md12">
				<ul class="site-doc-icon site-doc-anim">
					<button id="add" type="button" data-anim="layui-anim-scaleSpring"
						class="layui-btn layui-btn-lg layui-btn-radius layui-btn-normal layui-anim">
						<i class="layui-icon">&#xe608;</i> 添加
					</button>
				</ul>
			</div>
		</div>
		<br>
		<div id="adddiv" class="layui-row">
			<div class="layui-col-md12">
				<form class="layui-form" action="">
					<div class="layui-form-item">
						<label class="layui-form-label">URL</label>
						<div class="layui-input-block">
							<input id="addurl" type="text" name="title" required
								lay-verify="required" placeholder="请输入URL" autocomplete="off"
								class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">DATA</label>
						<div class="layui-input-block">
							<textarea id="adddata" name="" required lay-verify="required"
								placeholder="请输入数据" class="layui-textarea"></textarea>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<ul class="site-doc-icon site-doc-anim">
								<button class="layui-btn layui-anim" type="button" id="addsubmit" data-anim="layui-anim-scaleSpring">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary layui-anim" data-anim="layui-anim-scaleSpring">重置</button>
							</ul>

						</div>
					</div>
				</form>
			</div>
		</div>
		<br>
		<div class="layui-row">
			<div id="show" class="layui-col-md11"></div>
		</div>

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<div class="layui-row">
			<blockquote class="layui-elem-quote">本工具引用了开源组件,不可用于商业用途</blockquote>
		</div>
	</div>

</body>
<script>
	layui.use([ 'layer', 'form' ,'jquery','code','layedit','element'], function() {
		//<!-- layui初始化-->
		var layer = layui.layer, form = layui.form;
		 var element = layui.element; 
		//<!-- 获取布局中的form表单-->
		var form = layui.form;
		//<!-- 引入jquery-->
		var $=layui.$;
       //初始化url
       var orgin_url='initurl_jjj41e90af75ef4173b92a2ab22a99a570';
       // <!-- 初始化查询url数据-->
        var urldata;
        //初始化动作数据
        var actions={"data":[]};
        //初始化查询方法
        queryurldata();
        //初始化ui渲染
        uirender();
        //初始化按钮动画
        anim();
        /*----------------新增页面start---------------------*/
    	$('#adddiv').hide();
    	addaction();
    	submitaction();
    	var addisshow=false;
    	
    	
    	//增加按钮
        function addaction(){
        	$('#add').click(function(){
        		if(addisshow){
        			$('#adddiv').hide();
        			addisshow=false;
        		}else{
        			$('#adddiv').show();
        			addisshow=true;
        		}
        		
        	});
        }
    	
        function submitaction(){
        	$('#addsubmit').click(function(){
        		
        		if($('#addurl').val()==null||$('#addurl').val()==''){
            		layer.msg('请输入url');
            	}
            	else if($('#adddata').val()==null||$('#adddata').val()==''){
            		layer.msg('请输入返回数据');
            	}else {
        		 $.ajax({          
     	           	url:"/mock/add_data", 
     	             type:"post", 
     	             async: false,
     	             data:{
     	            	 url:$('#addurl').val(),
     	            	 data:$('#adddata').val()
     	             },
     	             success:function(data){
     	            	layer.msg(data.info);
     	            	if(data.flag=='success'){
     	            	$('#adddiv').hide();
     	            	var i=getRandom(0,1000);
     	            	var obj=addurlui({"url":$('#addurl').val(),"data":$('#adddata').val()},i);
     	            	bindallaction(obj.editid+i,obj.updateid+i,obj.deleteid+i,obj.textareaid+i,obj.url,obj.divid+i);
     	            	element.render('collapse(test)');}
     	            	$('#addurl').val('');
     	            	$('#adddata').val('');
     	            	if(addisshow){
     	        			$('#adddiv').hide();
     	        			addisshow=false;
     	        		}else{
     	        			$('#adddiv').show();
     	        			addisshow=true;
     	        		}
     	            	
     	            	
     	             }
     	          }); }       		
        	});
        	
        }
       
        /*----------------新增页面end---------------------*/
     
        
        /*----------------------初始化界面start------------------------------------------*/
        //<!--界面渲染-->
        function uirender(json){
        	var i=0;
        	 for(var obj of urldata){
        		 if(obj.url==orgin_url){}else{
        		 actions.data.push(addurlui(obj,i));
        		 bildbutton(i);
        		 i++;
        		 }
        	 }//end for
        	  element.render();
        }
        //这里写起来实在是太生艹了
        function bildbutton(i){
        		 $("#"+actions.data[i].editid+i).bind("click", {index: i}, clickeditHandler);
        	    $("#"+actions.data[i].updateid+i).bind("click", {index: i}, clickupdateHandler);
        	    $("#"+actions.data[i].deleteid+i).bind("click", {index: i}, clickdeleteHandler);
	            
        }
        //编辑动作
         function clickeditHandler(event) {
      	    var i= event.data.index;
      	    $("#"+actions.data[i].textareaid+i).removeAttr("disabled");	
      	    layer.msg('文本框可编辑');
      	 }
        //更新动作
         function clickupdateHandler(event) {
       	    var i= event.data.index;
          	 var content=$("#"+actions.data[i].textareaid+i).val();
          	 var url=actions.data[i].url;
	    	 $.ajax({          
	           	url:"/mock/update_data", 
	             type:"post", 
	             async: false,
	             data:{
	            	 url:url,
	            	 data:content
	             },
	             success:function(data){
	            	 layer.msg(data.info);
	               $("#"+actions.data[i].textareaid+i).attr("disabled",'disabled');
	             }
	          }); 
       	 }
        //删除动作
        function clickdeleteHandler(event){
        	  var i= event.data.index;
        	  var url=actions.data[i].url;
        	  layer.confirm('确定删除吗?', {icon: 3, title:'提示'}, function(index){
        		  $.ajax({          
       	           	url:"/mock/delete_data", 
       	             type:"post", 
       	             async: false,
       	             data:{
       	            	 url:url
       	             },
       	             success:function(data){
       	            	 layer.msg(data.info);
       	            	 $("#"+actions.data[i].divid+i).remove();
       	             
       	             }
       	          }); 
        		  
        		  layer.close(index);
        		});
 	    	
        }
        /*----------------------初始化界面end------------------------------------------*/
        
         /*----------------------公共方法start------------------------------------------*/
         
         function bindallaction(editid,updateid,deleteid,textareaid,url,divid){
        	//编辑
        	 $('#'+editid).click(function(){
        		  $("#"+textareaid).removeAttr("disabled");	
            	    layer.msg('文本框可编辑');
        	 });
        		//更新
        	 $('#'+updateid).click(function(){
        		 var content=$("#"+textareaid).val();
    	    	 $.ajax({          
    	           	url:"/mock/update_data", 
    	             type:"post", 
    	             async: false,
    	             data:{
    	            	 url:url,
    	            	 data:content
    	             },
    	             success:function(data){
    	            	 layer.msg(data.info);
    	               $("#"+textareaid).attr("disabled",'disabled');
    	             }
    	          }); 
       	     });
        		//删除
        	 $('#'+deleteid).click(function(){
        		 
        		 layer.confirm('确定删除吗?', {icon: 3, title:'提示'}, function(index){
        			 $.ajax({          
        	  	           	url:"/mock/delete_data", 
        	  	             type:"post", 
        	  	             async: false,
        	  	             data:{
        	  	            	 url:url
        	  	             },
        	  	             success:function(data){
        	  	            	 layer.msg(data.info);
        	  	            	 $("#"+divid).remove();
        	  	             
        	  	             }
        	  	          }); 
        			  
        			  layer.close(index);
        			});
        	
        	 });
        }
         
         
        
        // <!--获取数据发送类型-->
        function queryurldata(){
        $.ajax({          
          	url:"/mock/query_data", 
            type:"post", 
            async: false,
            success:function(data){
            	urldata=data;
            }
         });
        }
       
        //界面增加一条url
        function addurlui(obj,i){
        	 var urld=obj.url;
    		 var data=obj.data;
    		 var divid=urld.replace(/\//g,"_")+'divid_';
    		 var textareaid=urld.replace(/\//g,"_")+'textarea_';
    		 var editid=urld.replace(/\//g,"_")+'edit_';
    		 var updateid=urld.replace(/\//g,"_")+'update_';
    		 var deleteid=urld.replace(/\//g,"_")+'delete_';
    		 var action={
    				 "url":urld,
      	    		"divid":divid,
      	    		"textareaid":textareaid,
      	    		"editid":editid,
      	    		"updateid":updateid,
      	    		"deleteid":deleteid
      	     }
      	    
    		  divid=divid+i;
    		  textareaid=textareaid+i;
    		  editid=editid+i;
    		  updateid=updateid+i;
    		  deleteid=deleteid+i;
    		  
    		 if(isJSON(data)){
    			 data=JSON.stringify(JSON.parse(data),null,2); 
    		 }
    		 $("#show").prepend('<div id="'+divid+'"><fieldset class="layui-elem-field layui-field-title"style="margin-top: 20px;">'+
    		         '<legend>URL:'+urld+'</legend></fieldset><div class="layui-collapse" lay-filter="test">'+
    		          '<div class="layui-colla-item">'+
    		          '<h2 class="layui-colla-title">'+urld+'</h2><div class="layui-colla-content">	'+
    		          '<ul class="site-doc-icon site-doc-anim">'+
    				 ' <button id='+editid+'  data-anim="layui-anim-scaleSpring" type="button" class="layui-btn layui-btn-primary layui-bg-green layui-anim">编辑</button>'+
    				  '<button id='+updateid+' data-anim="layui-anim-scaleSpring" type="button" class="layui-btn layui-btn-primary layui-bg-blue layui-anim">更新</button> '+
    				 ' <button id='+deleteid+' data-anim="layui-anim-scaleSpring" type="button" class="layui-btn layui-btn-primary layui-bg-black layui-anim">删除</button>'+
    				 ' </ul>'+
    			      '<textarea id="'+textareaid+'" required lay-verify="required" placeholder="请输入" class="layui-textarea" style="height:500px" disabled>'+data+'</textarea>'+
    			     ' </div></div><div><div>');             
    	     return action;
        }
        //是否是json字符串
        function isJSON(str) {
            if (typeof str == 'string') {
                try {
                    var obj=JSON.parse(str);
                    if(typeof obj == 'object' && obj ){
                        return true;
                    }else{
                        return false;
                    }

                } catch(e) {
                    return false;
                }
            }
        }
        //随机数
        function getRandom(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }
        
        //按钮动画
          function anim(){
                  //演示动画开始
               $('.site-doc-icon .layui-anim').on('click', function(){
                     var othis = $(this), anim = othis.data('anim');
      
                     //停止循环
               if(othis.hasClass('layui-anim-loop')){
                       return othis.removeClass(anim);
                         }
                othis.removeClass(anim);
                setTimeout(function(){
                othis.addClass(anim);});
               if(anim === 'layui-anim-scaleSpring'){
                     setTimeout(function(){
                      othis.removeClass(anim);
                       }, 200);
                         }
          });
	  
  }
        /*----------------------公共方法end------------------------------------------*/
      
       //  折叠板 
        element.on('collapse(test)', function(data){});
        

	});
</script>


</html>