<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>testcreate</title>
<script type="text/javascript" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/jquery-3.3.1/jquery-3.3.1.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-md0.1">
				<i class="layui-icon layui-icon-app"
					style="font-size: 60px; color: #1E9FFF;"></i>
			</div>
			<div class="layui-col-md9.9">
				<form class="layui-form" id="form">
					<div class="layui-form-item" id="formdiv">
                        <!-- 案例名 -->
						<div class="layui-form-item">
							<label class="layui-form-label">案例名</label>
							<div class="layui-input-block">
								 <input id="casename" type="text" name="title" required  lay-verify="required" placeholder="请输入案例名" autocomplete="off" class="layui-input">
							</div>
						</div>
						 <!-- url -->
						<div class="layui-form-item">
							<label class="layui-form-label">URl</label>
							<div class="layui-input-block">
								 <input id="url" type="text" name="title" required  lay-verify="required" placeholder="请输入URl" autocomplete="off" class="layui-input">
							</div>
						</div>
						
						<div class="layui-form-item" pane>
							<label class="layui-form-label">请求方式</label>
							<div class="layui-input-block">
								<input lay-filter="requesttype" type="radio" name="get" value="get" title="get"> 
								<input lay-filter="requesttype" type="radio" name="post" value="post" title="post" checked>
							</div>
						</div>
						
						
                        <!-- 发送数据类型 -->
						<div class="layui-form-item">
							<label class="layui-form-label">发送类型</label>
							<div class="layui-input-block">
								<select lay-filter="sendtype" id="sendtype" name="sendtype" lay-verify="" lay-search>
								</select>
							</div>
						</div>

					
						<!-- form数据 -->
						<div class="layui-form-item" id="formdata" 	>
							<label class="layui-form-label">form数据</label>
						
							<div class ="layui-input-item">
							<div class="layui-input-inline" id="keydiv">
							<input type="text" name="key1" required  lay-verify="required" placeholder="请输入key" autocomplete="off" class="layui-input">
							</div>
							<div class="layui-input-inline" id="valuediv">
							<input type="text" name="value1" required  lay-verify="required" placeholder="请输入value" autocomplete="off" class="layui-input">
                            </div>
							</div>
								
								
						</div>
							<div class="layui-form-item" id="" 	>
							 <button class="layui-btn " id="addform" type="button">添加</button>
						 </div>
						
						<!-- json数据 -->
						<div class="layui-form-item" id="jsondata" 	>
							<label class="layui-form-label">json数据</label>
							<div class="layui-input-block">
							</div>
							<textarea placeholder="请输入json" oninput="wordLeg(this);" maxlength="100" onpropertychange="if(value.length>100) value=value.substr(0,100)" name="desc" class="layui-textarea"></textarea>
						</div>
						
						<!-- 请求按钮 -->
						<div class="layui-form-item">
							<div class="layui-input-block">
								  <button id="submit" class="layui-btn" type="button">生成案例脚本</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
</body>


<script>
			layui.use([ 'layer', 'form' ,'jquery','code','layedit'], function() {
				<!-- layui初始化-->
				var layer = layui.layer, form = layui.form;
				<!-- 获取布局中的form表单-->
				var form = layui.form;
				<!-- 引入jquery-->
                var $=layui.jquery;
                <!--富文本编辑器-->
                var layedit=layui.layedit;
         
                 <!--发送数据div隐藏-->
                $("#formdata").show();
                $("#jsondata").hide();
                 <!--json的富文本编辑器-->
                
                
                <!--获取数据发送类型-->
                function sendtypeRender(){
                $.ajax({          
                  	url:"/GetSendDataType", 
                    type:"post", 
                    async: true,
                    success:function(data){
                    	 var dataarr=data.data;
                    	 var sendtype = document.getElementById("sendtype");   
                    	 for(i=0;i<dataarr.length;i++){
                    		 var option = document.createElement("option");   
                    		 option.setAttribute("value",dataarr[i].type);                  
                    		 option.innerText=dataarr[i].type;     
                    		 sendtype.appendChild(option);  
                    	 }
                    	  form.render("select"); 
                    }
                 });
                }
                <!--渲染选择框-->
                sendtypeRender();
                
                <!--radion事件-->
                function radioChange(){
                   form.on('radio(requesttype)', function(data){
                	
                	   if(data.value=='post'){
                           $('input[title=post]').removeProp('checked').prop('disabled','disabled');
                           $('input[title=get]').removeProp('disabled').prop('checked','checked');
                           form.render('radio');
                       }else if(data.value=='get'){
                           $('input[title=post]').removeProp('disabled').prop('checked','checked');
                           $('input[title=get]').removeProp('checked').prop('disabled','disabled');
                           form.render('radio');
                       }  
                	});
                }
                radioChange();
                <!--选择框选中事件-->
                function selectChange(){
                	form.on('select(sendtype)', function(data){   
    				    var val=data.value;
    				    if(val=='application/json'){
    				    	   $("#formdata").hide();
    			               $("#jsondata").show();
    				    }else if(val=='application/x-www-form-urlencoded'){
    				    	   $("#formdata").show();
   			                $("#jsondata").hide();
    				    }
    				   
      			     });
                }
                selectChange();
          
                
                <!--增加form的input-->
                var index=1;
                function editForm(){
                	$("#addform").click(function(){
                		index++;
                		var keyid="key"+index;
                		var valueid="value"+index;
                		$("#keydiv").append('<br><input  id="'+keyid+'" type="text" name="'+keyid+'" required  lay-verify="required" placeholder="请输入key" autocomplete="off" class="layui-input">');
                		$("#valuediv").append('<br><input id="'+valueid+'" type="text" name="'+valueid+'" required  lay-verify="required" placeholder="请输入value" autocomplete="off" class="layui-input">');
                	    
                	});
                	
                }
                editForm();
                $("#submit").click(function(){
                	
                	
                });
			});
</script>


</html>